.terminal {
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 20px;
}

.terminal-output {
  padding: 10px;
}

form {
  display: flex;
}

label[for="terminal-input"] {
  padding-right: 10px;
}

input[type="text"] {
  background-color: black;
  color: white;
  border: none;
  flex-grow: 1;
}
